---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import AboutSection from "@components/general/aboutSection.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.map((project, index) => {
  if (project.isFeatured && index < 6) {
    return project;
  }
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"FS"}
      blog={info.blogUrl}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} blog={info.blogUrl} />
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
      {
        /*
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">FEATURE PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
    */
      }
    </Layout>
  </body>
</html>
